*{
    margin:0;
    padding:0;
    text-decoration: none;
    list-style: none;
    

}
header{
    position:fixed;
    width:100%;
    top:0;
    right:0;
    display:flex;
    align-items: center;
    justify-content:space-between;
    padding:20px 10%;
  background-color: antiquewhite;
     
}
.logo img{
    max-width: 120px;
    height: auto;
}
ul {
    display: flex;
}

ul a{
    margin:10px;
    font-size: 10px;
  text-transform: capitalize;
  font-weight: 700;
  transition: all .42s ease;

}
label{
    margin-left: ;
}
.serch{
    padding-left:;
}












